<% if signed_in? %>
  <div class="row">
    <aside class="col-sm-3">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
    </aside>
    <div class="col-sm-6">
      <%= render 'shared/feed' %>
    </div>
    <aside class="col-sm-3">
    </aside
  </div>
<% else %>
    
<div class="container-fluid center">
  <div class="jumbotron">
    <h1>FAIL FAST, FAIL BETTER.</h1>
      <p>faylio is a community where people share their failures, get support and advice<br>
        and discover tools and resources to do better next time.</p>
      <p><a href="/fails/new" class="btn btn-primary btn-lg">Share Your Fail »</a>
  </div>
</div>
    

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-sm-4 center">
          <%= link_to image_tag("compose.png", alt: "Share Your Fails", class: "home-image-center") %>
          <h3>Share Your Fails</h3>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        </div>
        <div class="col-sm-4 center">
          <%= link_to image_tag("check.png", alt: "Get Support and Advice", class: "home-image-center") %>
          <h3>Get Advice & Support</h3>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
       </div>
        <div class="col-sm-4 center">
          <%= link_to image_tag("tools.png", alt: "Discover Tools and Resources", class: "home-image-center") %>
          <h3>Find Tools & Resources</h3>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>
      </div>
      <br>
      <hr>
      <h3 class="center">Why faylio?</h3>
      <br>
      <p>We live in a culture that celebrates success but doesn't easily admit failure. 90% of startups fail, but there are rarely assessments by founders of why they fails. Mistakes happen in big companies all the time, but are often swept under the carpet. Individuals make mistakes everyday in a range of areas - from cooking and gardening to love and relationships.<br>
      <br>We need to create a culture of sharing our failures so that we are more ready to accept failure as an inevitable part of our lives, so we can grow stronger from admitting those failures, and so we can learn from and teach others on how to do better in these areas.<br>
      <hr>
      <br>
      <h3 class="center">What the greats are saying</h3> 
      <br>
    <div class="container">
      <div class="row">
        <div class="col-sm-3 center">
          <%= link_to image_tag("Edison.jpg", alt: "Edison", size: "140x140", class: "img-circle") %>
        </div>
        <div class="col-sm-9 center">
          <h3>"I have not failed, I have just found 10,000 ways that don't work.<br>
            All thanks to faylio's fantastic community."</h3>
          <h4>Thomas A Edison, @ Lightbulb Inc</h4>
      </div>
    </div>
      <br>
    <div class="container">
      <div class="row">
        <div class="col-sm-9 center">
                    <h3>“Only those who dare to fail greatly can ever achieve greatly.<br>
            And faylio helps me fail greatly."</h3>
          <h4>- Robert F Kennedy, @ Pres-E-Dent Ltd</h4>
        </div>
        <div class="col-sm-3 center">
          <%= link_to image_tag("Kennedy.jpg", alt: "Kennedy", class: "img-circle") %>
        </div>
    </div>
      <br>
      <hr>
      <br>
      <% end %>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>