<li>
   <span class="headline"><h4><%= gravatar_for fail.user %><%= link_to fail.headline, fail %></h4></span>
      <span class="timestamp user">
        Posted by <%= link_to fail.user.name, fail.user %> <%= time_ago_in_words(fail.created_at) %> ago.
      </span><br>
       <span class="timestamp user">
          Follow | <%= link_to "Comments", fail %> | Share
        </span><br>
    <% if current_user?(fail.user) %>
        <%= link_to "Delete?", fail, method: :delete,
                                         data: { confirm: "You sure?" },
                                         title: fail.headline %>
      <% end %>
</li>