<h1>Listing fails</h1>

<table>
  <thead>
    <tr>
      <th>Headline</th>
      <th>Description</th>
      <th>Lesson</th>
      <th>Link</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @fails.each do |fail| %>
      <tr>
        <td><%= fail.headline %></td>
        <td><%= fail.description %></td>
        <td><%= fail.lesson %></td>
        <td><%= fail.link %></td>
        <td><%= fail.user_id %></td>
        <%= raw fail.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ') %>
        <td><%= link_to 'Show', fail %></td>
        <td><%= link_to 'Edit', edit_fail_path(fail) %></td>
        <td><%= link_to 'Destroy', fail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fail', new_fail_path %>
