<p id="notice"><%= notice %></p>

  <div class="row">
    <aside class="col-sm-3">
    </aside>
    <aside class="col-sm-6">
      <br>
<h3>
  <%= @fail.headline %>
</h3>
      
<p>
  Shared by <strong><%= link_to @fail.user.name, @fail.user  %></strong>
</p>
      
<p>
  <strong>Description:</strong><br>
  <%= @fail.description %>
</p>

<p>
  <strong>Lessons Learned:</strong><br>
  <%= @fail.lesson %>
</p>

<p>
  <strong>Further Reading:</strong><br>
  <%= @fail.link %>
</p>

<%= link_to 'Edit', edit_fail_path(@fail) %> |
<%= link_to 'Back', fails_path %>
      
<h2>Comments</h2>

<%= render "comments/comments" %>
<%= render "comments/form" %>

    </aside>
    <aside class="col-sm-3">
    </aside>
