<p id="notice"><%= notice %></p>

  <div class="row">
    <aside class="col-sm-3">
    </aside>
    <aside class="col-sm-6">
      <br>
<h3>
  <strong>
    <%= @fail.headline %>
  </strong>
</h3>
            
<p>
  <%= gravatar_for @fail.user %>Shared by <strong><%= link_to @fail.user.name, @fail.user  %> <%= time_ago_in_words(@fail.created_at) %> ago.</strong>
</p>
<% if current_user?(@fail.user) %>
  <%= link_to "Delete Fail", @fail, method: :delete,
                                         data: { confirm: "You sure?" },
                                         title: @fail.headline %>
  <% end %>
      
<p>
  <strong>Description:</strong><br>
  <%= markdown @fail.description %>
</p>

<p>
  <strong>Lessons Learned:</strong><br>
  <%= markdown @fail.lesson %>
</p>

<p>
  <strong>Further Reading:</strong><br>
  <%= markdown @fail.link %>
</p>

<!-- <%= link_to 'Edit', edit_fail_path(@fail) %> | -->
<!-- <%= link_to 'Back', fails_path %> -->
      
<h4>Comments</h4>

<%= render "comments/comments" %>
<%= render "comments/form" %>

    </aside>
    <aside class="col-sm-3">
    </aside>
