<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-sm-3">
  </aside>
  <div class="col-sm-6">
        <section>
      <h1>
        <%= gravatar_for @user %><br>
        <%= @user.name %>
      </h1>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
      <ol class="fails">
        <%= render @fails %>
      </ol>
      <%= will_paginate @fails %>
  </div>
    <aside class="col-sm-3">
  </aside>

</div>