<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-sm-4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="col-sm-8">
    <% if @user.fails.any? %>
      <h3>Fails (<%= @user.fails.count %>)</h3>
      <ol class="fails">
        <%= render @fails %>
      </ol>
      <%= will_paginate @fails %>
    <% end %>
  </div>
</div>