<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-sm-3">
  </aside>
  <div class="col-sm-6">
     <div align="center"> 
      <br>
       <%= gravatar_for current_user %>
       <h1>
        <%= @user.name %>
      </h1>
     </div>
    <div align="center">
      <%= render 'shared/stats' %>
    </div>
      <ol class="fails">
        <%= render @fails %>
      </ol>
      <%= will_paginate @fails %>
  </div>
    <aside class="col-sm-3">
  </aside>

</div>