<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript">
    window.analytics||(window.analytics=[]),window.analytics.methods=["identify","track","trackLink","trackForm","trackClick","trackSubmit","page","pageview","ab","alias","ready","group","on","once","off"],window.analytics.factory=function(a){return function(){var t=Array.prototype.slice.call(arguments);return t.unshift(a),window.analytics.push(t),window.analytics}};for(var i=0;i<window.analytics.methods.length;i++){var method=window.analytics.methods[i];window.analytics[method]=window.analytics.factory(method)}window.analytics.load=function(a){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src=("https:"===document.location.protocol?"https://":"http://")+"d2dq2ahtl5zl1z.cloudfront.net/analytics.js/v1/"+a+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n)},window.analytics.SNIPPET_VERSION="2.0.6",
    window.analytics.load("8zapftb1g2"),
    window.analytics.page();
    </script>
    <meta name="google-site-verification" content="lSKh5kc2r-PCeFNyspwg2Xt4lh0nVFIfiGrMF4_Y2Rc" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "faylio" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Faylio" %>">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
        <div class="container">
          <%= render 'layouts/navigation' %>
        </div>
    </header>
    <main role="main">
        <div class="content">
          <div class="row">
              <div class="col-sm-12">
                <%= render 'layouts/messages' %>
                <%= yield %>
              </div>
          </div>
          <footer>
            <%= render 'layouts/footer' %>
          </footer>
        </div>
    </main>
  </body>
</html>

